
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}操業日数の決定{% endblock %}

{% block content %}
  <p><strong>フェーズ:</strong> {{ mode_type_display }} </p>
  <p><strong>ラウンドタイプ: {{ mode_index }},</strong>
     ラウンド {{ mode_round }} / {% if is_practice %}1{% else %}7{% endif %}
  </p>
  <p><strong>操業回数:</strong> {{ current_round }} / {{ total_rounds }}</p>
  <hr>
  <h5><strong>制度:</strong> {{ institution_for_display }}</h5>
  <hr>
  <p><strong>漁場タイプ:</strong> {{ stock_label }}</p>

  <p>この回の操業日数を入力してください。</p>

  {% formfields %}
  <button class="btn btn-primary">送信</button>

  <hr>


{% endblock %}
